
/*.box {*/
/*    border-style: solid;*/
/*    border-color: rgb(58, 139, 207);*/
/*    border-width: 3px;*/
/*    text-align: right;*/
/*  }*/
/*  .blue-box {*/
/*    background-color: rgb(58, 139, 207);*/
/*    color: white;*/
/*    margin: 5px;*/
/*    margin-left: 1580px;*/
/*    margin-right: 50px;*/
 
  .smaller-image{
      width:300px;
      position:relative;
      left:840px;
      top: 100px;
  }
  .Search{
      background-color: rgb(209, 209, 209);
      color:rgb(82,84,87);
      width: 130px;
      height: 30px;
      position:relative;
      left:540px;
      top:250px;
  }
  .Lucky{
      background-color: rgb(209, 209, 209);
      color: rgb(82, 84, 87);
      width: 130px;
      height: 30px;
      position:relative;
      left:550px;
      top:250px
  }
  .Sign_In{
      background-color:rgb(62, 129, 230);
      color:white;
      float: right;
      width: 80px;
      height: 35px;
      position:relative;
      bottom: 80px;
      right:20px;
  }
  .about{
      color: rgb(79,79,79);
      text-align: left;
      position: relative;
      left: 20px;
      
  }
  .store{
      color:rgb(79,79,79);
      text-align:left;
      position: relative;
      left: 75px;
      bottom: 40px;
  }